{% extends 'core/base.html' %}
{% load static %}
{% block title %}AbielDev | Publicación{% endblock %}
{% block content %}
{% include 'publicaciones/includes/menu_post.html' %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
    <div class="card bg-light mb-4 pr-1 pl-1 pb-1">
      <div class="card-body">
        <h5 class="card-title">
              {% if post.title %}
              {{post.title}} | {% endif %}<!--<img src="" class="img-fluid profile-avatar rounded" alt="img 2" style="width: 3%">-->
    		<span class="badge badge-dark">{{post.author}}</span></h5> 
        {% if post.content %}
        <p class="card-text">{{post.content|safe}}</p>
        {% endif %}
        <p class="">
          <a class="text-success" href="{% url 'post:update' post.author post.id %}">Editar</a>
          | <a class="text-danger" href="{% url 'post:delete' post.author post.id %}">Borrar</a>
        </p>
        <p class="card-text"><small class="text-muted">{{post.created}}</small></p>
      </div>
    {% if post.image %}
    	<img src="{{post.image.url}}" class="card-img-top" alt="img upload" style="width: 100%">
    {% endif %}
    </div>

    </div>
  </div>
</div>


{% endblock %}