/*home */
header {
	background: #f1f1f1;
}

/*--------Poyectos------- */

/*Conversor de monedas */
.tarjeta {
	background: #f1f1f1;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{% static 'core/img/load.gif' %}") 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}